<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 600px; background-image: url({{user.profilePictureUrl}}); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hello {{user.firstName}} {{user.lastName}}</h1>
        <p class="text-white mt-0 mb-5">ඔබගේ ජංගම දුරකථන අංක සහ බැංකු තොරතුරු යාවත්කාලීන නොකලේනම් එය යාවත්කාලීන කිරීමට
          කාරුනිකවන්න!</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img [src]="user.profilePictureUrl" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="heading">22</span>
                  <span class="description">Stories</span>
                </div>
                <div>
                  <span class="heading"></span>
                  <span class="description"></span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Episodes</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              {{user.firstName}} {{user.lastName}}<span class="font-weight-light"></span>
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">My account</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="userForm">
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">First Name</label>
                    <input #firstName [formControl]="userForm.controls['firstName']" type="text" id="input-firstname"
                      class="form-control form-control-alternative" placeholder="First Name">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Last Name</label>
                    <input type="text" id="input-lastname" #lastName [formControl]="userForm.controls['lastName']"
                      class="form-control form-control-alternative" placeholder="jesse@example.com">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Email</label>
                    <input #email [formControl]="userForm.controls['email']" type="email" id="input-email"
                      class="form-control form-control-alternative" placeholder="First name" disabled>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Address</label>
                    <input id="input-address" #address [formControl]="userForm.controls['address']"
                      class="form-control form-control-alternative" placeholder="Home Address" type="text">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Phone Number</label>
                    <input id="input-phonenumber" #phoneNumber [formControl]="userForm.controls['phoneNumber']"
                      class="form-control form-control-alternative" placeholder="077XXXXXX" type="text">
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-icon btn-2 btn-primary" (click)="update()" type="button" [disabled]="isLoading">
              <span class="btn-inner--icon" *ngIf="isLoading == false; else image"><i class="ni ni-fat-add"></i></span>
              Save
              <ng-template #image><img src="../../../assets/img/button-loading.gif" />
              </ng-template>
            </button>

          </form>
        </div>
        <hr class="my-4" />
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Bank Details</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Bank Name</label>
                    <input type="text" id="input-firstname" class="form-control form-control-alternative"
                      placeholder="First Name" value="lucky.jesse">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Account Holder Name</label>
                    <input type="text" id="input-firstname" class="form-control form-control-alternative"
                      placeholder="First Name" value="lucky.jesse">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Account Number</label>
                    <input type="text" id="input-firstname" class="form-control form-control-alternative"
                      placeholder="First Name" value="lucky.jesse">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Branch</label>
                    <input type="text" id="input-firstname" class="form-control form-control-alternative"
                      placeholder="First Name" value="lucky.jesse">
                  </div>
                </div>
              </div>

              <button class="btn btn-icon btn-2 btn-primary" type="button" [disabled]='isLoading'>
                <span class="btn-inner--icon" *ngIf="isLoading == false; else image"><i class="ni ni-fat-add">
                    <ng-template class="btn-inner--icon" #image><img src="../../../assets/img/button-loading.gif">
                    </ng-template>
                  </i></span>
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="dummy-target"></div>